.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 43em;
  animation-name: animation;
  animation-duration: 1600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.buttonLogin {
  width: 7em;
  font-size: 1.8em;
  font-weight: bold;
  padding: 13px 13px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(36, 114, 167);
  font-family: "rickandmorty", "Courier New",monospace;
}

.buttonLogin:hover {
  border: 2px solid rgb(36, 114, 167);
  color: rgb(36, 114, 167);
  background-color: #17181c;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  transition: 0.2s ease-in;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}
  